@dark-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
@media only screen and (max-width: 1086px) {
  body header.header {
    .menu-icon {
      display: inline-block;
    }

    .menu-btn {
      display: none;
      &:checked~#main-menu {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 300px;
        box-shadow: @dark-shadow;
  
        .menu {
          display: block;
  
          .item {
            a{
              margin: 0 20px;
              // padding: 10px 0;
  
              >.fa-angle-down {
                display: none;
              }
            }
  
            &:hover {
  
              .sub-menu {
                display: none;
              }
            }
  
          }
        }
      }
  
      &:checked~.menu-icon .navicon {
        background: transparent;
        box-shadow: none;
      }
  
      &:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
      }
  
      &:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
      }
  
      &:checked~.menu-icon:not(.steps) .navicon:before,
      &:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
      }
    }
    #main-menu {
      display: none;
      height: initial;

      >.search-box {
        display: inline-flex;
        justify-content: center;
        width: 100%;
      }
    }

    > .search-box {
      display: none;
    }
  }
}

@media only screen and (max-width: 1040px) {
  body main .container section.main-content > .frame .content-list .frame {
    width: calc(100% / 4 - 10px);
  }
}

@media only screen and (max-width: 888px) {
  body main .container section.top-content .frame {
    width: 100%;
    .aspect-ratio .content.list {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 680px) {
  body main .container section.main-content > .frame .content-list .frame {
    width: calc(100% / 3 - 10px);
  }
  body
    main .container
    section.top-content
    .frame
    .aspect-ratio
    .content
    .content-right
    article
    .background-image {
    .top {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .fa-play-circle {
      display: none;
    }
  }
}

@media only screen and (max-width: 320px) {
  body main .container section.main-content > .frame .content-list .frame {
    width: calc(100% / 2 - 10px);
  }
  body header.header .menu-btn:checked ~ #main-menu {
    width: 100%;
  }
  body
    main .container
    section.top-content
    .frame
    .aspect-ratio
    .content
    .content-left
    .details {
    .group-top {
      .button-play .fa-play-circle {
        display: none;
      }
      .views {
        .category {
          font-size: 16px;
        }
        .number-like {
          font-size: 14px;
        }
      }
    }
    .group-bottom {
      .number-views {
        font-size: 14px;
      }
      .title {
        font-size: 18px;
      }
    }
  }
  body main .container section.main-content header .title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1600px) {
  body {
    width: 1600px;
    margin: 0 auto;
    header.header {
      width: 1600px;
    }
  }
}
