/* Varela_Round */
@font-face {
	font-family: VarelaRound;
	src: url(Varela_Round/VarelaRound-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

/* Quicksand */
@font-face {
	font-family: Quicksand;
	src: url(Quicksand/static/Quicksand-Light.ttf) format("truetype");
	font-weight: 300;
	font-style: normal;
}
/* Quicksand */
@font-face {
	font-family: Quicksand;
	src: url(Quicksand/static/Quicksand-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
/* Quicksand */
@font-face {
	font-family: Quicksand;
	src: url(Quicksand/static/Quicksand-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
}
/* Quicksand */
@font-face {
	font-family: Quicksand;
	src: url(Quicksand/static/Quicksand-SemiBold.ttf) format("truetype");
	font-weight: 600;
	font-style: normal;
}
/* Quicksand */
@font-face {
	font-family: Quicksand;
	src: url(Quicksand/static/Quicksand-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}
